:root {
  --primary: #0d28a6;
  --secondary: #5cb85f;
}
/*----
HERO
------*/

.hero__text-p {
  font-size: small;
  font-weight: 400;
  line-height: 1.4;
  padding-right: 15%;
}

.hero__button {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 8px 12px;
  background-color: var(--secondary);
  border-style: none;
  border-radius: 2px;
}
